<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../template/head") %>
</head>
<body>
  <%- include ("../template/nav") %>
  <%- include ("../template/abstractedMobileLinks") %>
  <%- include ("../template/sidebar") %>
  <%- include ("../template/agePopup") %>
  
  <main>
    <section class="error">
      <h2 class="error__title">404 - Unable to find page</h2>
      <div class="error__help">Back to the
        <a href="/" class="error__link">
          Home page
        </a>
      </div>
    </section>
  </main>
  <%- include ("../template/footer") %>
</body>
</html>