<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../template/head") %>
</head>
<body>
  <%- include ("../template/nav") %>
  <%- include ("../template/abstractedMobileLinks") %>
  <%- include ("../template/sidebar") %>
  <%- include ("../template/agePopup") %>
  
  <main>
    <section class="beers flow">
      <h2 class="products__header" id="core-range">core range<span class="products__header sml"> - Available to enjoy year round</span></h2>
      <p class="products__info">There is a good reason why our core range of beers have made it as a staple 
        in our line of products. They are tried and tested brews that will statisfy year round 
        in every situation possible. Don't believe us, then check them out below and be the 
        judge yourself.
      </p>
      <span class="products__divider"></span>

      <div class="products__wrapper">
        <div class="products__item">
          <div class="products__item-info info--stretch flow">
            <h4 class="products__item-title title--clr1">the best pilsner - ABV 4.8%</h4>
            <p class="products__item-desc">Our classic style Pilsner is a blend of German and Aotearoa hops, namely Mandarina
              and Motueka. This deliciously refreshing brew is a beatiful golden color with citrus fruit notes and a 
              crisp/ dry finish will leave you wanting more.
            </p>
            <div class="products__img-wrapper">
              <div class="products__logo logo--top">
                <a href="/shop" class="products__link">
                  <h4 class="products__logo-title">the best pilsner</h4>
                  <div class="products__logo-img">
                    <img src="/public/images/beach.png" loading="lazy" alt="beach landscape">
                  </div>
                  <h5 class="products__logo-desc">
                    pilsner <br>
                    4.8%
                  </h5>
                </a>
              </div>
            </div>
            <h5 class="products__item-notes">brewer's notes</h5>
              <p class="products__item-note">We love the crisp, refreshing and dry aftertaste that pilsners 
                can provide so we hopped it up using by blending classic german pilsner hops with
                the citrusy kiwi hop</p>
            <p class="products__item-ingredients">
              Ingredients: </span>Water, Barley, Hops and Yeast
            </p>
            <a href="/shop" class="products__item-link">Shop</a>
          </div>
        </div>

        <div class="products__item">
          <div class="products__item-info info--stretch flow">
            <h4 class="products__item-title title--clr2">bitter ipa - ABV 6.3%</h4>
            <p class="products__item-desc">Bitterness at its finest! This IPA will punch you in the face with its strong tropical hop flavours 
              and end with an unmatched bitter finish that is perfectly balanced by the smoothness of the malt.</p>
              <div class="products__img-wrapper">
                <div class="products__logo logo--middle">
                  <a href="/shop" class="products__link">
                    <h4 class="products__logo-title">bitter ipa</h4>
                    <div class="products__logo-img">
                      <img src="/public/images/mountains.png" loading="lazy" alt="snowy mountainous landscape">
                    </div>
                    <h5 class="products__logo-desc">
                      ipa <br>
                      6.3%
                    </h5>
                  </a>
                </div>
              </div>
              <h5 class="products__item-notes">brewer's notes</h5>
              <p class="products__item-note">If you didn't already know, here at Turncoat Brewery
                we love the bitter profile of beer, adding Centennial hop early in our brewing 
                process allows us to achieve the perfect bitter IPA. 
              </p>
            <p class="products__item-ingredients">
              Ingredients: </span>Water, Barley, Hops and Yeast
            </p>
            <a href="/shop" class="products__item-link">Shop</a>
          </div>
      </div>

      <div class="products__item">
        <div class="products__item-info info--stretch flow">
          <h4 class="products__item-title title--clr3">smoothest stout - ABV 9%</h4>
          <p class="products__item-desc">The smoothest stout will sooth your senses with its richness. 
            The coffee, chocolate and vanilla flavours will lure you in to an intense but smooth taste and finish with a slight bitterness
            from the roasted toffee, perfect.</p>
            <div class="products__img-wrapper">
              <div class="products__logo logo--bottom">
                <a href="/shop" class="products__link">
                  <h4 class="products__logo-title">smoothest stout</h4>
                  <div class="products__logo-img">
                    <img src="/public/images/mountain.png" loading="lazy" alt="mountainous landcape at night">
                  </div>
                  <h5 class="products__logo-desc">
                    imperial stout <br>
                    9%
                  </h5>
                </a>
              </div>
            </div>
            <h5 class="products__item-notes">brewer's notes</h5>
              <p class="products__item-note">The combination of Belgian Aromatic,
                chocolate and black malts deliver the perfect rich stout for when a stronger 
                abv is desired.
              </p>
            <p class="products__item-ingredients">
              Ingredients: </span>Water, Barley, Hops and Yeast
            </p>
            <a href="/shop" class="products__item-link">Shop</a>
          </div>
        </div>
      </section>
      <section class="seasonal">
        <h2 class="products__header" id="seasonal-brews">seasonal brews<span class="products__header sml"> - Special beers with in seasonal ingredients</span></h2>
        <p class="products__info">These are the beers that are better suited for a certain
          time of the year, perfectly curated for your enjoyment. Catch them while you can 
          or you'll be waiting another year before you can get it again.
        </p>

        <span class="products__divider"></span>

          <div class="products__item">
            <div class="products__item-info info--stretch flow">
              <h4 class="products__item-title title--clr4">i'm peaking white ipa - ABV 6.6%</h4>
              <p class="products__item-desc">This perfect marriage of styles combines the refreshing spice of a belgian wit beer with the hop 
                characteristics we all love from an IPA. Using flavours of orange and coriander as a light refreshing citrus kick before the bitterness of the hops 
                leave you reaching for another bottle. Without doubt the perfect brew for all occasions.
              </p>
              <div class="products__img-wrapper">
                <div class="products__logo logo--top">
                  <a href="/shop" class="products__link">
                    <h4 class="products__logo-title">i'm peaking</h4>
                    <div class="products__logo-img">
                      <img src="/public/images/snow.png" loading="lazy" alt="beach landscape">
                    </div>
                    <h5 class="products__logo-desc">
                      white ipa<br>
                      6.6%
                    </h5>
                  </a>
                </div>
              </div>
              <h5 class="products__item-notes">brewer's notes</h5>
                <p class="products__item-note">The perfect marriage of two seemingly opposite styles
                  will convert you to a lover of hops. Pacific Jade hops are the key to the 
                  beautiful orange and coriander taste.
                </p>
              <p class="products__item-ingredients">
                Ingredients: </span>Water, Barley, Hops and Yeast
              </p>
              <a href="/shop" class="products__item-link">Shop</a>
            </div>
          </div>
      </section>
      <section class="limited">
        <h2 class="products__header" id="limited-releases">limited releases<span class="products__header sml"> - One off special brews to catch while you can</span></h2>
        <p class="products__info">These one time only beers allow our brewers to experiment and discover new and exciting flavours
          that we can develop for future recipes. You never quite know what to expect when you open one of these, who dosen't like surprises?
        </p>

        <span class="products__divider"></span>

        <div class="products__item">
          <div class="products__item-info info--stretch flow">
            <h4 class="products__item-title title--clr5"> nature's bite - ABV 6.6%</h4>
            <p class="products__item-desc"> Our very first limited release is a fiery one! 
              A very drinkable session IPA in nature ending on a subtle hidden 
              chili kick that will surprise and delight.
            </p>
            <div class="products__img-wrapper">
              <div class="products__logo logo--top">
                <a href="/shop" class="products__link">
                  <h4 class="products__logo-title">nature's bite</h4>
                  <div class="products__logo-img">
                    <img src="/public/images/chili.png" loading="lazy" alt="beach landscape">
                  </div>
                  <h5 class="products__logo-desc">
                    chili citrus session IPA <br>
                    4.5%
                  </h5>
                </a>
              </div>
            </div>
            <h5 class="products__item-notes">brewer's notes</h5>
              <p class="products__item-note">Using or fresh own grown chillies and a touch of lime, this session IPA is one of a kind.
                It will leave you with a dry and tingling sensation in the back of your throat and at 4.5% ABV, 
                you can enjoy as many as you can get your hands on.
              </p>
            <p class="products__item-ingredients">
              Ingredients: </span>Water, Barley, Hops and Yeast
            </p>
            <a href="/shop" class="products__item-link">Shop</a>
          </div>
        </div>
      </section>
      </div>
  </main>
  <%- include ("../template/footer") %>
</body>
</html>