<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../template/head") %>
</head>
<body>
  <%- include ("../template/nav") %>
  <%- include ("../template/abstractedMobileLinks") %>
  <%- include ("../template/sidebar") %>
  <%- include ("../template/footer") %>
  
</body>
</html>