<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../template/head") %>
</head>
<body>
  <%- include ("../template/nav") %>
  <%- include ("../template/abstractedMobileLinks") %>
  <%- include ("../template/sidebar") %>
  <%- include ("../template/agePopup") %>
  <main>
    <section class="landing">
      <div class="landing__hero spread">
        <h1 class="landing__header">
          Come and explore our brand new range of delicious beers
        </h1>
      </div>

      <div class="landing__wrapper flow spread">
          <div class="landing__cta">
            <div class="landing__cta-socials">
              <span class="landing__cta-text">Follow us here:</span>
              <a href="/" class="landing__social-link">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="/" class="landing__social-link">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="/" class="landing__social-link">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="/" class="landing__social-link">
                <i class="fa fa-untappd"></i>
              </a>
            </div>
              <div class="landing__cta-btns">
                <a href="/beers" class="landing__link cta--primary">
                  our brews
                </a>
                <a href="/shop" class="landing__link cta--secondary">
                  our shop
                </a>
              </div>
          </div>

          <h2 class="landing__welcome">Welcome To <br>
            <span class="landing__welcome--lrg">Turncoat Brewing Co.</span>
          </h2>
          <p class="landing__description">
              We are a brand new micro brewery based in UK that aims to produce delicious beers that will kick in your senses with 
              big and bold flavours. For us it's all about the hops! <br><br>Before the brewery was opened we spent years homebrewing beers and have now 
              refined many delicious recipes that we cannot wait for you to try that focus on a big hoppy taste profile. By sourcing the freshest ingredients from local 
              producers you can be sure that the beer you taste is as fresh as it gets. <br><br>Come and see what we have in our 
              <a href="/beers" class="landing__description--link">range</a> if you think you're ready.
          </p>
      </div>
    </section>

    <section class="products">
      <div class="products__image spread">
        <h2 class="products__title">
          We think our beer is great. Check it out below!
        </h2>
      </div>

      <div class="landing__cta spread">
        <div class="landing__cta-socials">
          <span class="landing__cta-text">Follow us here:</span>
          <a href="/" class="landing__social-link">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="/" class="landing__social-link">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="/" class="landing__social-link">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="/" class="landing__social-link">
            <i class="fa fa-untappd"></i>
          </a>
        </div>
          <div class="landing__cta-btns">
            <a href="/our-story" class="landing__link cta--primary">
              shop
            </a>
            <a href="/beers" class="landing__link cta--secondary">
              contact
            </a>
          </div>
      </div>

      <div class="products__wrapper">
        <div class="products__item">
          <div class="products__logo logo--top">
            <a href="/beers" class="products__link">
              <h4 class="products__logo-title">the best pilsner</h4>
              <div class="products__logo-img">
                <img src="/public/images/beach.png" loading="lazy" alt="beach landscape">
              </div>
              <h4 class="products__logo-desc">
                pilsner <br>
                4.8%
              </h4>
            </a>
          </div>
          <div class="products__item-info flow">
            <h4 class="products__item-title title--clr1">the best pilsner</h4>
            <p class="products__item-desc">A classic style Pilsner. A blend of German and Aotearoa hops – Mandarina and Motueka.  
              Gold in colour with citrus fruit notes and a crisp/ dry finish will leave you wanting more.
            </p>
            <a href="/beers" class="products__item-link">Learn More</a>
          </div>
        </div>

        <div class="products__item">
          <div class="products__logo logo--middle">
            <a href="/beers" class="products__link">
              <h4 class="products__logo-title">bitter ipa</h4>
              <div class="products__logo-img">
                <img src="/public/images/mountains.png" loading="lazy" alt="snowy mountainous landscape">
              </div>
              <h4 class="products__logo-desc">
                ipa <br>
                6.3%
              </h4>
            </a>
          </div>
          <div class="products__item-info flow">
            <h4 class="products__item-title title--clr2">bitter ipa</h4>
            <p class="products__item-desc">Bitterness at its finest! This IPA will punch you in the face with its strong tropical hop flavours 
              and end with an unmatched bitter finish that is perfectly balanced by the smoothness of the malt.
            </p>
            <a href="/beers" class="products__item-link">Learn More</a>
          </div>
        </div>
      

      <div class="products__item">
        <div class="products__logo logo--bottom">
          <a href="/beers" class="products__link">
            <h4 class="products__logo-title">smoothest stout</h4>
            <div class="products__logo-img">
              <img src="/public/images/mountain.png" loading="lazy" alt="mountainous landcape at night">
            </div>
            <h4 class="products__logo-desc">
              imperial stout <br>
              9%
            </h4>
          </a>
        </div>
        <div class="products__item-info flow">
          <h4 class="products__item-title title--clr3">smoothest stout</h4>
          <p class="products__item-desc">The smoothest stout will sooth your senses with its richness. 
            The coffee, chocolate and vanilla flavours will lure you in to an intense but smooth taste and finish with a slight bitterness
            from the roasted toffee, perfect.
          </p>
          <a href="/beers" class="products__item-link">Learn More</a>
        </div>
      </div>
      </div>
      </div>
    </section>
  </main>
  <%- include ("../template/footer") %>
</body>
</html>