<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/shop.css">
  <script src="/js/store.js" defer></script>
  <%- include ("../template/head") %>
</head>
<body>
  <%- include ("../template/nav") %>
  <%- include ("../template/abstractedMobileLinks") %>
  <%- include ("../template/sidebar") %>
  
  <main>
    <section class="shop">
      
      <h2 class="shop__title">Cart - emtpy</h2>
      <div class="shop__cart"></div>

      <div class="shop__cart-divider"></div>

      <div class="shop__cart-items">
        <button class="shop__cart-checkout">Checkout</button>
        <span class="shop__cart-total"></span>
      </div>
      
      <h2 class="shop__title">Available For Delivery</h2>
      <div class="shop__wrapper">
        <div class="shop__item--grid">
          <% for( let i=0; i < products.length; i++) { %>
            <div class="shop__item">
              <div class="shop__item-overlay">
                <span class="shop__item-message">
                  Added to Cart!
                </span>
              </div>
              <img src="../..<%= products[i].imagePath %>" alt="beer" class="shop__item--img">
              <span class="shop__item-name"><%= products[i].name %></span>
              <span class="shop__item-type"><%= products[i].type %></span>
              <span class="shop__item-info"><%= products[i].description %></span>
              <span class="shop__item-price">$<%= products[i].price %></span>
              <button class="shop__item-btn shop__item-btn-js">
                <a href="#cart" class="btn__link">Add To Cart</a>
              </button>
            </div>
            <% }; %>
          </div>
        </div>
    </section>
  </main>
  <%- include ("../template/footer") %>
  
</body>
</html>